# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.vscode

/vendor

examples/cosmos/cosmos
examples/edgelb/edgelb
examples/iam/iam
examples/kubernetes/kubernetes
examples/marathon/marathon
examples/metadata/metadata
examples/metronome/metronome
examples/secrets/secrets
